DB_NAME=db_name
DB_USER=db_user
DB_PASSWORD=db_password
DB_HOST=db_host
DB_PORT=5432
SECRET_KEY=your_django_secret_key
DEBUG=True
AUTH_COOKIE_NAME=app_acess_token
AUTH_REFRESH_COOKIE_NAME=app_refresh_token

# OAuth Credentials (GitHub)
GITHUB_CLIENT_ID=GITHUB_CLIENT_ID
GITHUB_SECRET=GITHUB_SECRET

# OAuth Credentials (Google)
GOOGLE_CLIENT_ID=GOOGLE_CLIENT_ID
GOOGLE_SECRET=GOOGLE_SECRET

# OAuth Credentials (Discord)
DISCORD_CLIENT_ID=DISCORD_CLIENT_ID
DISCORD_SECRET=DISCORD_SECRET

FRONTEND_URL=FRONTEND_URL