# Core
Django
psycopg2-binary
python-dotenv

# Autenticação e API
djangorestframework
djangorestframework-simplejwt
dj-rest-auth

# Login Social (Allauth)
django-allauth
requests
cryptography

# Integração Frontend
django-cors-headers

# Utilitários
django-extensions